<!DOCTYPE html>
<html>
    <head>
        <!-- Start of Meta -->
        <title>Moment</title>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />

        <!-- Start of CSS -->
        <link rel="stylesheet" type="text/css" href="../css/core.css" />
        <link rel="stylesheet" type="text/css" href="../css/events.css" />
        <link rel="stylesheet" type="text/css" href="../css/icons.css" />

        <!-- Start of Javascript -->
        <script src="http://169.233.100.140:8080/target/target-script-min.js#anonymous"></script>
        <script type="text/javascript" src="phonegap.js"></script>
        <script type="text/javascript" src="../js/jquery.js"></script>
        <script type="text/javascript" src="../js/fastclick.js"></script>
        <script type="text/javascript" src="../js/center.js"></script>
        <script type="text/javascript" src="../js/core.js"></script>

        <!-- Start of Javascript: Page Specific -->
        <script type="text/javascript" src="../js/events.js"></script>
        <script type="text/javascript">
            $(function() {
                app.initialize();
            });
        </script>
    </head>
    <body>
        <!-- Start of Body -->
        <div id="header">
            <div class="container">
                <a href="../index.html" class="icon menu fa fa-bars"></a>
                <div class="logo">moment</div>
                <div class="icon post fa fa-pencil-square-o"></div>
            </div>
        </div>
        <div id="events">
            <div class="event">
                <div class="image" data-image="https://scontent-b-sjc.xx.fbcdn.net/hphotos-ash3/t1.0-9/10169329_10203913109215922_414375286691091430_n.jpg"></div>
                <div class="darkener"></div>
                <div class="hero">Beach day!!!</div>
                <div class="footer">
                    <div class="location">Santa Cruz</div>
                    <div class="attendees">
                        <div class="attendee" style="background-image: url('https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-frc3/t1.0-9/1240604_359327467532968_196202760_n.jpg')"></div>
                        <div class="attendee next">···</div>
                    </div>
                    <div class="chatter">
                        12 <span class="fa fa-comment"></span>
                    </div>
                </div>
            </div>
            <div class="event">
                <div class="image" data-image="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-ash3/t1.0-9/10325369_10152009984131436_3550462462739132196_n.jpg"></div>
                <div class="darkener"></div>
                <div class="hero">Now everyone take out your dumb gopros</div>
                <div class="footer">
                    <div class="location">San Jose</div>
                    <div class="attendees">
                        <div class="attendee" style="background-image: url('https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-frc3/t1.0-9/1240604_359327467532968_196202760_n.jpg')"></div>
                        <div class="attendee next">···</div>
                    </div>
                    <div class="chatter">
                        19 <span class="fa fa-comment"></span>
                    </div>
                </div>
            </div>
            <div class="event">
                <div class="image" data-image="http://i.telegraph.co.uk/multimedia/archive/01451/skateboard_1451004i.jpg"></div>
                <div class="darkener"></div>
                <div class="hero">Skating Hard</div>
                <div class="footer">
                    <div class="location">Los Angeles</div>
                    <div class="attendees">
                        <div class="attendee" style="background-image: url('https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-frc3/t1.0-9/1240604_359327467532968_196202760_n.jpg')"></div>
                        <div class="attendee next">···</div>
                    </div>
                    <div class="chatter">
                        105 <span class="fa fa-comment"></span>
                    </div>
                </div>
            </div>
            <div class="event">
                <div class="image" data-image="http://www.ramonasentinel.com/wp-content/blogs.dir/12/files/2013/07/ComicCon-037.WEB_.jpg"></div>
                <div class="darkener"></div>
                <div class="hero">Comic-Con costumes pose</div>
                <div class="footer">
                    <div class="location">Los Angeles</div>
                    <div class="attendees">
                        <div class="attendee" style="background-image: url('https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-frc3/t1.0-9/1240604_359327467532968_196202760_n.jpg')"></div>
                        <div class="attendee next">···</div>
                    </div>
                    <div class="chatter">
                        15 <span class="fa fa-comment"></span>
                    </div>
                </div>
            </div>
            <div class="event">
                <div class="image" data-image="https://scontent-b-sjc.xx.fbcdn.net/hphotos-ash3/t1.0-9/10169329_10203913109215922_414375286691091430_n.jpg"></div>
                <div class="darkener"></div>
                <div class="hero">Beach day!!!</div>
                <div class="footer">
                    <div class="location">Santa Cruz</div>
                    <div class="attendees">
                        <div class="attendee" style="background-image: url('https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-frc3/t1.0-9/1240604_359327467532968_196202760_n.jpg')"></div>
                        <div class="attendee next">···</div>
                    </div>
                    <div class="chatter">
                        12 <span class="fa fa-comment"></span>
                    </div>
                </div>
            </div>
            <div class="event">
                <div class="image" data-image="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-ash3/t1.0-9/10325369_10152009984131436_3550462462739132196_n.jpg"></div>
                <div class="darkener"></div>
                <div class="hero">Now everyone take out your dumb gopros</div>
                <div class="footer">
                    <div class="location">San Jose</div>
                    <div class="attendees">
                        <div class="attendee" style="background-image: url('https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-frc3/t1.0-9/1240604_359327467532968_196202760_n.jpg')"></div>
                        <div class="attendee next">···</div>
                    </div>
                    <div class="chatter">
                        19 <span class="fa fa-comment"></span>
                    </div>
                </div>
            </div>
            <div class="event">
                <div class="image" data-image="http://i.telegraph.co.uk/multimedia/archive/01451/skateboard_1451004i.jpg"></div>
                <div class="darkener"></div>
                <div class="hero">Skating Hard</div>
                <div class="footer">
                    <div class="location">Los Angeles</div>
                    <div class="attendees">
                        <div class="attendee" style="background-image: url('https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-frc3/t1.0-9/1240604_359327467532968_196202760_n.jpg')"></div>
                        <div class="attendee next">···</div>
                    </div>
                    <div class="chatter">
                        105 <span class="fa fa-comment"></span>
                    </div>
                </div>
            </div>
            <div class="event">
                <div class="image" data-image="http://www.ramonasentinel.com/wp-content/blogs.dir/12/files/2013/07/ComicCon-037.WEB_.jpg"></div>
                <div class="darkener"></div>
                <div class="hero">Comic-Con costumes pose</div>
                <div class="footer">
                    <div class="location">Los Angeles</div>
                    <div class="attendees">
                        <div class="attendee" style="background-image: url('https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-frc3/t1.0-9/1240604_359327467532968_196202760_n.jpg')"></div>
                        <div class="attendee next">···</div>
                    </div>
                    <div class="chatter">
                        15 <span class="fa fa-comment"></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Body -->
    </body>
</html>
