#popup {
    width: 85%;
    text-align: center;
}

#popup > img {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
}

#popup .header {
    font-size: 25px;
    font-weight: bold;
    color: #3e3e3e;
    text-shadow: 0 1px 0 #ededed;
}


#popup .subheader {
    font-size: 17px;
    color: #666;
    margin-bottom: 35px;
}

#popup .button {
    padding: 15px 0;
    width: 100%;
    text-align: center;
    color: #3e3e3e;
    background: #fff;
    display: block;
    border-radius: 3px;
    font-weight: bold;
    border: solid 2px #3e3e3e;
}

#popup .button:active {
    color: #fff;
    background: #3e3e3e;
}
