#popup {
    text-align: center;
}

#popup .logo {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
}

#popup .header {
    font-size: 25px;
    font-weight: bold;
    color: #3e3e3e;
    text-shadow: 0 1px 0 #ededed;
}


#popup .subheader {
    font-size: 17px;
    color: #666;
    margin-bottom: 35px;
}

#popup .button {
    width: 100%;
    text-align: center;
    color: #3e3e3e;
    background: #fff;
    border-radius: 3px;
    font-weight: bold;
    border: solid 2px #3e3e3e;
    box-sizing: border-box;
    overflow: hidden;
    zoom: 1;
}

#popup .button .icon {
    float: left;
    padding: 15px;
    border-right: solid 2px #3e3e3e;
    height: 100%;
}

#popup .button .text {
    padding: 13px 0 0 0;
}

#popup .button:active {
    color: #fff;
    background: #3e3e3e;
}


#popup .breaker {
    border-top: 1px solid #ededed;
    color: #bfbfbf;
    font-size: 14px;
    margin: 30px 0 15px;
    text-align: center;
}

#popup .breaker span {
    background-color: #fff;
    padding: 0 5px;
    position: relative;
    top: -11px;
}
